name: s3-depl

on:
  push:
    branches:
      - develop
      - production
      - prelaunch

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Build React App
        run: npm install && npm run build
        env:
         CI: false
      - name: Deploy Gzipped app build to Development S3 bucket - Prelaunch
        if: github.ref == 'refs/heads/prelaunch'
        run: aws s3 sync ./build/ s3://dev.tezdealz.com --exclude "*" --include "*.css" --include "*.js" --content-encoding gzip --delete
      - name: Deploy Regular app build to Development S3 bucket - Prelaunch
        if: github.ref == 'refs/heads/prelaunch'
        run: aws s3 sync ./build/ s3://dev.tezdealz.com --exclude "*.js" --exclude "*.css" --delete
      - name: Deploy app build to Production S3 bucket
        if: github.ref == 'refs/heads/production'
        run: aws s3 sync ./build/ s3://tezdealz.com --delete
      - name: CDN Cache invalidation
        if: github.ref == 'refs/heads/prelaunch'
        run: aws cloudfront create-invalidation --distribution-id "E14GK8241BCUI1" --paths "/*"
